h1,
h2 {
  font-weight: 800;
  font-size: 385%;
  //color: #000000;
  margin-bottom: 13px;
}

h3 {
  font-weight: 800;
  font-size: 100%;
  color: #000000;
  margin: 0;
  text-align: left;
}

h6 {
  font-weight: 500;
  font-size: 50%;
  color: #383838;
  margin: 0;
  text-align: left;
  margin-bottom: 3%;
}

h5 {
  font-weight: 500;
  font-size: 138%;
  margin-top: 5px;
  text-align: justify;
}
