// global styles
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
}
