// Border
$scantist-border-grey: transparentize($scantist-grey, 0.5);

// Typography
$base-font-family: "Arial", sans-serif;
$heading-font-family: $base-font-family;

$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
